
.table_container {
    width: 90%;
    max-width: 1900px;
    margin: auto;
}

.table_body {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;

}

.table_body tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table_body th, .table_body td {
    font-size: 90%;
    padding: 8px;
    text-align: center;
}

.table_body thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}

.table_body tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1600px) {
    .table_body {
        border: 0px;
    }
    .table_body thead {
        display: none;
    }
    .table_body tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table_body th, .table_body td {
        font-size: 12px;
    }
    .table_body td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table_body  td:last-child {
        border-bottom: 0px;
    }
    .table_body td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}